page-patient-homepage {
	
	.homepage {

	    padding: 10px 10px 10px 10px;

	    .logo {
	        border: 2px solid gray;
	        border-radius: 10%;
	        padding: 2px 2px 2px 2px;
	        text-align: center;
	        margin-right: 10px; 

	        .img-size {
	            width: 50%;
	        }
	    }
	}
}