page-medical-profile {
    
    .medical-profile {

        .dropdown-width {
            max-width: 100%;
        }

        .font {
            font-size: 25px;
            font-weight: bold;
            color: dimgray;
        }

        .icon {
            text-align: right;
            max-width: 50px;    
        }

        .margin {
            margin-left: 10px;
            margin-right: 10px;
        }

        .horizon-line {
            border-bottom: 1px solid #eee;
            padding-left: 10px;
        }

        .margin-md {
            margin-left: 40px;
        }

        .mid-font {
            font-size: 18px;
        }

        .profile-display {
            position: absolute;

            .size {
                max-width: 25px;
            }
        }

        .profile-icon {
            position: relative;

            .margin {
                margin-left: 25%;
            }
        }
    }
}